.room-item {
  background: transparent;
  border: transparent;
  text-shadow: 0rem 0.2rem 1rem #0c7b46;
  color: #0bc759;
 
  height: 3vw;
  font-size: 2vw;
  font-family: Courier;
  text-align: center;
  display: inline-block;
  width: 25vw;
  cursor: pointer;
  background: #0c7b46;
  border:2px solid #0c4b44;
  border-bottom: 2px solid;

}

.room-item:hover{
  background: #0bc759;
  color: #0c7b46;
}

.room-id{
 position: absolute;
}



.room-player-count{
  text-align: right;
}