<div class="screen_box" [ngClass]="{'screen_box_error':userNotFound}">
  <div class="box_lines">
    <div class="linea"></div>
    <div (click)="changeChannel()" class="channel-change" *ngIf="!userNotFound">
      <span class="left-arrow">⮜</span><span> Login </span
      ><span class="right-arrow">⮞</span>
    </div>
    <input (keyup)="tidyUserInput($event)" *ngIf="!userNotFound"
      type="text"
      onblur="this.placeholder = 'Username'"
      onfocus="this.placeholder = ''"
      placeholder="Username"
      [(ngModel)]="username"
      (keyup.enter)="doLogin()"
    />
    <br />
    <input *ngIf="!userNotFound"
      type="password"
      onblur="this.placeholder = 'Password'"
      onfocus="this.placeholder = ''"
      placeholder="Password"
      [(ngModel)]="password"
      (keyup.enter)="doLogin()"
    />
    <br />
    <span *ngIf="!userNotFound" class="confirm-msg">Press Enter</span>
    <div class="screen"></div>
    <div *ngIf="userNotFound" class="message_error" [innerHTML]="messageError"></div>
  </div>
</div>
