<div class="screen_box" [ngClass]="{'screen_box_error':msgProblem}">
  <div class="box_lines">
    <div class="linea"></div>
    <div  *ngIf="!msgProblem" (click)="backToMenu()" class="channel-change">
      <span class="left-arrow">⮜</span><span>Back to Menu</span>
    </div>
    <span *ngIf="!msgProblem" 
      (click)="prevRooms()"
      [ngClass]="{ hide: shownRoomIndex <= 0 }"
      class="up-arrow"
      >⮝</span
    >
    <div  *ngFor="let room of rooms"><room *ngIf="!msgProblem"(joinProblem)="onJoinProblem($event)" [room]="room"></room></div>

    <span   *ngIf="rooms.length === 0 && !msgProblem" class="no-rooms-msg">No rooms yet</span>
    <div class="screen"></div>
    <span  
      *ngIf="!isLoading && !msgProblem; else: loading"
      [ngClass]="{
        hide:
          rooms.length === 0 ||
          (noMoreItems && shownRoomIndex + shownRoomCount >= loadedRooms.length)
      }"
      (click)="nextRooms()"
      class="down-arrow"
      >⮟</span
    >
    <ng-template #loading ><span *ngIf="!msgProblem" class="loading-arrow">↻</span></ng-template>
    <div *ngIf="msgProblem" class="message" [innerHTML]="messageError"></div>
  </div>
</div>
