
.container {
  background-image: url("../assets/images/tankplans.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-color:#040b04;
  font-family:PressStart2P;
}


@font-face {
  font-family:"Symbola";
  src:url("../assets/fonts/Symbola_hint.eot?") 
  format("eot"),
  url("../assets/fonts/Symbola_hint.woff") 
  format("woff"),
  url("../assets/fonts/Symbola_hint.ttf") 
  format("truetype"),
  url("../assets/fonts/Symbola_hint.svg#Symbola") 
  format("svg");
  font-weight:normal;
  font-style:normal;
}