

<div class="screen_box" [ngClass]="{'screen_box_error':msgProblem}">
    <div class="box_lines">
      <div class="linea"></div>
    <span  *ngIf="!msgProblem" class="channel-change"> Menu </span>
  <a *ngIf="(inRoom | async )  else menu" routerLink="/game"  class="menu-item">Reconnect</a>
      <ng-template #menu>
      <a  *ngIf="!msgProblem" (click)="createRoom()" [ngClass]="{'selected':currentIndex==0}" class="menu-item">Create room</a> 
      <a  *ngIf="!msgProblem" routerLink="rooms"  [ngClass]="{'selected':currentIndex==1}" class="menu-item">Join room</a>
      <a  *ngIf="!msgProblem" routerLink="scoreboard"  [ngClass]="{'selected':currentIndex==2}" class="menu-item">Scoreboard</a>
      <span  *ngIf="!msgProblem" class="confirm-msg">Press Enter to confirm</span>
    </ng-template>


      <div class="screen"></div>
    <div *ngIf="msgProblem" class="message" [innerHTML]="messageError"></div>
    </div>
  
  </div>
  
