<div class="screen_box">
  <div class="box_lines">
    <div class="linea"></div>
  <div (click)="backToMenu()"  class="btn-back"  
><span class="left-arrow"></span><span>Back to Menu</span></div>
<div  class="channel-change" *ngIf="!userNotFound">
  <span (click)="changeChannel(-1)" class="left-arrow">⮜</span><span> {{currentChannel}} </span
  ><span (click)="changeChannel(1)" class="right-arrow">⮞</span>
</div>

<div class="scoreboard-title">
  <div>Name</div><div>|</div><div>#{{filters[channelIndex]}}</div>
</div>  
<div class="scoreboard-item" *ngFor="let dat of data">
    <div>{{dat.name}}</div><div>|</div><div>{{dat[filters[channelIndex]]}}</div>
</div>
    <div class="screen"></div>
 
  </div>

</div>
