<div  *ngIf="!msgProblem" id="gamecontainer">

</div>

<div *ngIf="msgProblem" class="screen_box" [ngClass]="{'screen_box_error':msgProblem}">
    <div *ngIf="msgProblem" class="box_lines">
      <div  *ngIf="msgProblem" class="linea"></div>


      <div *ngIf="msgProblem"class="screen"></div>
    <div *ngIf="msgProblem" class="message" [innerHTML]="messageError"></div>
    </div>
  
  </div>
