.screen_box {
  user-select: none;
  background-color: #0a6539;
  text-align: center;
  width: 40vw;
  height: 40vw;
  position: relative;
  top: calc(50vh - 40vw / 2);
  left: calc(50vw - 40vw / 2);
  border-radius: 1rem;
  box-shadow: inset 0 0 18rem black, inset 0 0 3rem black, 0 0 10rem black;
  border: 1rem solid;
  border-bottom-color: #121212;
  border-left-color: #080808;
  border-right-color: #080808;
  border-top-color: #020202;
}

.message {
  white-space: pre-wrap;
  text-shadow: 0rem 0.2rem 1rem #0c7b46;
  color: red;
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;
  font-size: 3vw;
  font-family: PressStart2P, Courier;

  text-align: center;
}

.screen_box .box_lines {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0.2) 70%,
    rgba(0, 0, 0, 0.6)
  );
  background-size: 100% 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  animation: flicker 0.1s infinite;
}

.linea {
  position: absolute;
  width: 100%;
  height: 0.25rem;
  animation: vline 2.25s linear infinite;
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0) 0%,
    rgba(255, 250, 250, 0.07) 50%,
    rgba(255, 255, 255, 0.08) 51%,
    rgba(255, 0, 0, 0) 100%
  );
}
.screen_box input,
.confirm-msg {
  background: transparent;
  border: transparent;
  text-shadow: 0rem 0.2rem 1rem #0c7b46;
  color: #0bc759;
  width: 80%;
  font-size: 3vw;
  font-family: PressStart2P, Courier;
  text-align: center;
}

input:focus {
  outline: none;
}

.confirm-msg {
  font-size: 1vw;
  animation: vanish 1s linear infinite alternate;
  cursor: default;
  margin-top: 2vw;
}

.left-arrow {
  display: inline-block;
  animation: expand 1s linear infinite alternate;
}

.right-arrow {
  display: inline-block;
  animation: expand 1s linear infinite alternate-reverse;
}

@keyframes expand {
  0% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(-35%);
  }
}

.screen_box input::placeholder {
  text-shadow: 0rem 0.2rem 1rem #0c7b46;
  color: #0bc759;
  font-size: 3vw;
  font-family: PressStart2P, Courier;

  text-align: center;
}

@keyframes vline {
  0% {
    top: 0px;
  }
  100% {
    top: 100%;
  }
}

@keyframes vanish {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.screen {
  background: url("/assets/screen_noise.png");
  width: 40vw;
  height: 40vw;
  position: fixed;
  box-shadow: inset 0 0 18rem black, inset 0 0 3rem black, 0 0 10rem black;
  animation: change_channel 0.2s ease-out forwards;
}

@keyframes change_channel {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes flicker {
  0% {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.9) 70%,
      rgba(0, 0, 0, 0.05)
    );
    background-size: 100% 0.3rem;
  }
  9% {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.9) 70%,
      rgba(0, 0, 0, 0.1)
    );
    background-size: 100% 0.3rem;
  }
  18% {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.12) 70%,
      rgba(0, 0, 0, 0.15)
    );
    background-size: 100% 0.3rem;
  }
  27% {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.12) 70%,
      rgba(0, 0, 0, 0.2)
    );
    background-size: 100% 0.3rem;
  }
  36% {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.15) 70%,
      rgba(0, 0, 0, 0.25)
    );
    background-size: 100% 0.3rem;
  }
  45% {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.15) 70%,
      rgba(0, 0, 0, 0.3)
    );
    background-size: 100% 0.3rem;
  }
  54% {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.17) 70%,
      rgba(0, 0, 0, 0.35)
    );
    background-size: 100% 0.3rem;
  }
  63% {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.17) 70%,
      rgba(0, 0, 0, 0.4)
    );
    background-size: 100% 0.3rem;
  }
  72% {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.2) 70%,
      rgba(0, 0, 0, 0.45)
    );
    background-size: 100% 0.3rem;
  }
  81% {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.2) 70%,
      rgba(0, 0, 0, 0.5)
    );
    background-size: 100% 0.3rem;
  }
  90% {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.2) 70%,
      rgba(0, 0, 0, 0.55)
    );
    background-size: 100% 0.3rem;
  }
  100% {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.2) 70%,
      rgba(0, 0, 0, 0.6)
    );
    background-size: 100% 0.3rem;
  }
}

.channel-change {
  text-shadow: 0rem 0.2rem 1rem #0c7b46;
  color: #0bc759;
  cursor: pointer;
  top: 15px;
  position: absolute;
  font-size: 2vw;
}
