<div class="screen_box">
  <div class="box_lines">
    <div class="linea"></div>
	<div (click)="changeChannel()"  class="channel-change"  *ngIf="!isShowingMessage"
><span class="left-arrow">⮜</span><span> Register </span><span class="right-arrow">⮞</span></div>
    <input  *ngIf="!isShowingMessage"
      type="text"
      onblur="this.placeholder = 'Username'"
      onfocus="this.placeholder = ''"
      placeholder="Username"
      [(ngModel)]="username"
      (keyup.enter)="doRegister()"
      (keyup)="tidyUserInputUsername()"
    />
    <br />
    <input  *ngIf="!isShowingMessage"
      type="password"
      onblur="this.placeholder = 'Password'"
      onfocus="this.placeholder = ''"
      placeholder="Password"
      [(ngModel)]="password"
      (keyup.enter)="doRegister()"
    />
	  <input  *ngIf="!isShowingMessage"
      type="text"
      onblur="this.placeholder = 'Name'"
      onfocus="this.placeholder = ''"
      placeholder="Name"
      [(ngModel)]="name"
      (keyup.enter)="doRegister()"
      (keyup)="tidyUserInput()"
    />
   
    <br />
    <span  *ngIf="!isShowingMessage" class="confirm-msg">Press Enter to confirm</span>
    <div class="screen"></div>
    <div *ngIf="isShowingMessage" class="message" [innerHTML]="message"></div>
  </div>

</div>
